<html>

<head>
    <title>login</title>
</head>

<body>
    <form method="POST" action="./new_user">
        <table>
            <tr>
                <td>Email</td>
                <td><input type='email' name='email'></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type='username' name='username'></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type='password' name='pass'></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>

</html>