<h3 style="text-align: center;"><strong>Generador de n&uacute;meros aleatorios</strong></h3>
<p style="text-align: center;">&nbsp;</p>
<form style="text-align: center;" action="/profile">
    <p><input type="submit" value="Profile" /></p>
</form>
<form style="text-align: center;" action="/logout"><input type="submit" value="Log out" /></form>
<form style="text-align: center;" action="/local_mean"><input type="submit" value="Media local" /></form>
<form style="text-align: center;" action="/cloud_mean"><input type="submit" value="Media nube" /></form>
<form style="text-align: center;" action="/dashboard"><input type="submit" value="Graficas externas" /></form>
<form style="text-align: center;" action="/umbral_form"><input type="submit" value="Umbral" /></form>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Usuario: {{user}}</p>
<p style="text-align: center;">Medias solicitadas: {{local_n}} en la base de datos local y {{cloud_n}} en la nube</p>

